/* GLOBAL STYLES */
:root {
  --primary-color: #47856c;
  --black-color: #212020;
  --border-color: #afabab;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header-container {
  /* max-width: 1070px; */
  width: 80%;
  margin: auto;
}

.container {
  /* max-width: 1070px; */
  width: 85%;
  margin: auto;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 25px;
}

/*  */

/*NAVBAR*/
nav ul li a {
  color: var(--black-color);
  font-size: 18px;
}
nav {
  background-color: var(--primary-color);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  padding: 10px 0px;
  margin-bottom: 20px;
  z-index: 1;
  overflow: hidden;
}

.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50px, 10%);
}

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flex-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  margin-right: 0;
}

.toggle {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.toggle:focus {
  outline: none;
}

.toggle i {
  font-size: 20px;
}

/* Searching */
.search {
  width: 250px;
  border: 1px solid var(--border-color);
  padding: 15px 15px;
  background: #f5f5f5;
  border-radius: 5px;
}

.search-mobile-button {
  display: none;
}

.search-form {
  display: flex;
  flex-direction: column;
}

p.search-instruction {
  margin: 15px 0px;
}

.search-heading,
.search-instruction {
  text-align: center;
}

.form-control {
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  font-family: "Lato";
  font-size: 16px;
}

input[type="text"],
select {
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.76);
  color: #757575;
}

input[type="text"]:focus,
select:focus,
input[type="submit"]:hover {
  box-shadow: 2px 2px 6px -1px var(--primary-color);
}

input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: var(--primary-color);
  box-shadow: 2px 2px 6px -1px #333;
}

/* ----------- */

/* Listing */
.room-flex {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, 264px); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}
/* -------Listing End------- */

/* RoomItems */
.box {
  position: relative;
  border: 1px solid var(--border-color);
  /* width: 245px; */
  height: 420px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.mainImage {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

span.price {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
}

.content {
  /* text-align: center; */
  padding: 0px 15px;
}

.icon-color {
  color: var(--primary-color);
}

.roomsection-header {
  text-align: center;
}

.line-brake {
  border: 1px solid #e2dede;
  margin: 10px auto;
}

.roomsection-info {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}

p.small-size {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
}

.owner-info {
  display: inline-grid;
  grid-row-gap: 10px;
}

button.more-button {
  width: 100%;
  padding: 7px 0px;
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
}

.more-button a {
  color: #fff;
  font-weight: bold;
}

/* pagination */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.page-item {
  margin: 0;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.Page.navigation {
  margin: 5px 0px 15px 0px;
}

.page-link {
  font-size: 20px;
  font-weight: bold;
  padding: 0.375rem 0.75rem;
  position: relative;
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid var(--border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* pagination end */

/* ---------------- RoomItems End ---------- */

/* footer */
footer {
  padding: 15px 0px;
  background-color: var(--primary-color);
}

footer p {
  color: #fff;
}

.text-footer {
  font-weight: bold;
}

footer a {
  text-decoration: underline;
}

/* footer end */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* For responsive screen */
@media screen and (max-width: 960px) {
  .container {
    width: 90%;
  }

  li {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 15px;
  }

  .flex-1 {
    justify-content: center;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .login-register {
    margin-left: 20px;
  }

  .logo {
    transform: translate(13px, 10%);
  }

  /* for side navbar */
  .nav-menu {
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100px;
    top: 40px;
    right: -100%;
    text-align: center;
    padding: 5px 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  }

  .nav-menu.active {
    background-color: var(--primary-color);
    top: 40px;
    right: 0;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    margin: 5px 0px;
  }

  .nav-menu li:hover {
    text-decoration: underline;
  }

  /* ---- */

  .toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20px, 40%);
  }

  /* Search */
  .search {
    margin: auto;
    position: absolute;
    top: 50px;
    left: -100%;
    width: 90%;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .modile-search {
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
  }
  .search-mobile-button {
    outline: none;
    z-index: 100;
    display: block;
    cursor: pointer;
    /* position: fixed; */
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--primary-color);
    border: none;
    padding: 8px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  }
  .search-mobile-button:hover {
    box-shadow: 3px 3px 6px 0px var(--primary-color);
  }
  .search-mobile-button p {
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: mixed;
    font-size: 15px;
  }
  /* -------------- */

  /* Listing */
  .room-flex {
    justify-content: center;
  }
  /* Listing End */
}

/* For mobile Screen */
@media screen and (max-width: 320px) {
  .logo img {
    width: 25px;
    height: 25px;
  }
  .logo {
    transform: translate(4px, 18%);
  }
}

/* For larger Device */
@media screen and (max-width: 2168) {
  /* .room-flex { */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* } */
}
