/* GLOBAL STYLES */
:root {
  --primary-color: #47856c;
  --black-color: #212020;
  --border-color: #afabab;
  --secondary-color: #fff;
  --border-light-color: #e0dbdb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header-container {
  /* max-width: 1070px; */
  width: 80%;
  margin: auto;
}

.container {
  /* max-width: 1070px; */
  width: 85%;
  margin: auto;
}

.small-container {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 25px;
}

.btn {
  background: var(--primary-color);
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.btn:hover {
  background: #477361;
}

/*  */

/*NAVBAR*/
nav ul li a {
  color: var(--secondary-color);
  font-size: 18px;
}
nav {
  background-color: var(--primary-color);
  /* box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55); */
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 76%);
  padding: 5px 0px;
  margin-bottom: 20px;
  z-index: 1;
  overflow: hidden;
}

/* .logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50px, 10%);
} */

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flex-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-1 ul {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 0;
}

/* .toggle {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.toggle:focus {
  outline: none;
}

.toggle i {
  font-size: 20px;
} */

/* Searching */
.search {
  width: 250px;
  border: 1px solid var(--border-color);
  padding: 15px 15px;
  background: #f5f5f5;
  border-radius: 5px;
}

.search-mobile-button {
  display: none;
}

.search-form {
  display: flex;
  flex-direction: column;
}

p.search-instruction {
  margin: 15px 0px;
}

.search-heading,
.search-instruction {
  text-align: center;
}

.search-form-control {
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  font-family: "Lato";
  font-size: 16px;
}

.input-text,
select {
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.76);
  color: #757575;
}

.input-text:focus,
select:focus,
input[type="submit"]:hover {
  box-shadow: 2px 2px 6px -1px var(--primary-color);
}

.search-button {
  cursor: pointer;
  /* font-weight: bold; */
  border: none;
  background: var(--primary-color);
  box-shadow: 2px 2px 6px -1px #333;
  font-size: 18px;
  color: var(--secondary-color);
}

/* ----------- */

/* Listing */
.room-flex {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, 264px); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}
/* -------Listing End------- */

/* RoomItems */
.box {
  position: relative;
  border: 1px solid var(--border-color);
  /* width: 245px; */
  height: 420px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.mainImage {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

span.price {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
}

.content {
  /* text-align: center; */
  padding: 0px 15px;
}

.icon-color {
  color: var(--primary-color);
}

.roomsection-header {
  text-align: center;
}

.line-brake {
  border: 1px solid #e2dede;
  margin: 10px auto;
}

.roomsection-info {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}

p.small-size {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
}

.owner-info {
  display: inline-grid;
  grid-row-gap: 10px;
}

button.more-button {
  width: 100%;
  padding: 7px 0px;
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* button.more-button:focus {
  border: 2px solid #333;
} */

.more-button a {
  color: #fff;
  font-weight: bold;
}

/* pagination */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.page-item {
  margin: 0;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.Page.navigation {
  margin: 5px 0px 15px 0px;
}

.page-link {
  font-size: 20px;
  font-weight: bold;
  padding: 0.375rem 0.75rem;
  position: relative;
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid var(--border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* pagination end */

/* ---------------- RoomItems End ---------- */

/* footer */
footer {
  margin-top: 20px;
  padding: 15px 0px;
  background-color: var(--primary-color);
}

footer p {
  color: #fff;
}

.text-footer {
  font-weight: bold;
}

footer a {
  text-decoration: underline;
}

/* footer end */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* lightbox  */
.RoomScreen-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  grid-gap: 1rem;
}

/* .mainImage-container { */
/* width: 510px; */
/* } */

.lightbox-mainImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 3px;
}

.backgroundimage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0 0 0 / 90%);
  opacity: 1;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mySlides {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.backgroundImagesize {
  object-fit: cover;

  height: 400px;
  border: 3px solid #fff;
  border-radius: 5px;
}

.modal-content {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0;
  z-index: 100;
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.normal {
  display: none;
  opacity: 0;
}

.flex {
  display: flex;
}

.box-img {
  margin-right: 15px;
}

.lightbox {
  width: 70px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 3px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: -38px;
  right: 0px;
  font-size: 40px;
  font-weight: bold;
}

.numbertext {
  position: absolute;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* seller Details */
.seller-details {
  /* width: 200px; */
  width: 65%;
  /* height: 499px; */
  /* height: 50%; */
}
.seller-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.text-color {
  color: var(--primary-color);
  font-size: 16px;
}
.seller-container {
  border: 1px solid #ccc6c6;
  border-radius: 5px;
  margin-bottom: 10px;
}
.seller-info {
  padding: 5px;
}
button.inquiry-btn {
  width: 100%;
  padding: 8px 0px;
  color: #fff;
  font-weight: bold;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
button.inquiry-btn:hover {
  box-shadow: 1px 1px 7px 0px rgba(71, 133, 108, 0.69);
}

/* inquiry container */
.inquiry-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0 0 0 / 60%);
  display: flex;
  justify-content: center;
}
.inquiry-box {
  margin-top: 30px;
  position: absolute;
  width: 350px;
  /* height: 500px; */
  animation: fadein 1s;
  background-color: #fff;
}
.inquiry-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-light-color);
  padding: 10px;
}
.inquiry-close {
  color: var(--border-color);
  cursor: pointer;
}
.inquiry-content {
  padding: 20px 10px;
}
.form-group:not(:last-child) {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-control {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid var(--border-light-color);
  border-radius: 3px;
}
.form-control:focus {
  outline: none;
  border: 1px solid var(--black-color);
  box-shadow: 2px 2px 2px 0px #797979;
}
.button {
  width: 100%;
  padding: 9px 0px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 17px;
}
.button:focus {
  outline: none;
}
/* seller Details End */

/* Register */
.register-form {
  width: 400px;
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
}
.register-header {
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.register-form form {
  padding: 20px;
}
/* register user end */

/* lightbox End */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* For responsive screen */
@media screen and (max-width: 960px) {
  .RoomScreen-grid {
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  }
  .container {
    width: 90%;
  }

  .header-container {
    width: 95%;
  }

  li {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .flex-1 {
    justify-content: normal;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .login-register {
    margin-left: 20px;
  }

  /* .logo {
    transform: translate(13px, 10%);
  } */

  /* for side navbar */
  .nav-menu {
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100px;
    top: 40px;
    right: -100%;
    text-align: center;
    padding: 5px 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  }

  .nav-menu.active {
    background-color: var(--primary-color);
    top: 40px;
    right: 0;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    margin: 5px 0px;
  }

  .nav-menu li:hover {
    text-decoration: underline;
  }

  /* ---- */

  .toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20px, 40%);
  }

  /* Search */
  .search {
    margin: auto;
    position: absolute;
    top: 50px;
    left: -100%;
    width: 90%;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .modile-search {
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
  }
  .search-mobile-button {
    outline: none;
    z-index: 100;
    display: block;
    cursor: pointer;
    /* position: fixed; */
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--primary-color);
    border: none;
    padding: 8px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  }
  .search-mobile-button:hover {
    box-shadow: 3px 3px 6px 0px var(--primary-color);
  }
  .search-mobile-button p {
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: mixed;
    font-size: 15px;
  }
  /* -------------- */

  /* Listing */
  .room-flex {
    justify-content: center;
  }
  /* Listing End */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */

  /* Light Box */
  .backgroundImagesize {
    height: 200px;
  }
  .mainImage-container {
    width: 100%;
  }
  .lightbox-mainImage {
    height: 300px;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
  /* light box end */

  /* register form */
  .inquiry-box {
    width: 300px;
  }
  .register-form {
    width: 300px;
  }
  /* register form end */
}

/* For mobile Screen */
@media screen and (max-width: 320px) {
  .logo img {
    width: 25px;
    height: 25px;
  }
  .logo {
    transform: translate(4px, 18%);
  }
}

/* For larger Device */
@media screen and (max-width: 2168) {
  /* .room-flex { */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* } */
}
