/* GLOBAL STYLES */
:root {
  --primary-color: #47856c;
  --black-color: #212020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f4f4f4;
  /* overflow: hidden; */
}

.container {
  /* max-width: 1070px; */
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 25px;
}

/*  */

/*NAVBAR*/
nav ul li a {
  color: var(--black-color);
  font-size: 18px;
}
nav {
  background-color: var(--primary-color);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  padding: 10px 0px;
  margin-bottom: 20px;
  z-index: 1;
  overflow: hidden;
}

.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50px, 10%);
}

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flex-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  margin-right: 0;
}

.toggle {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.toggle:focus {
  outline: none;
}

.toggle i {
  font-size: 20px;
}

/* Searching */
.search {
  width: 250px;
  border: 1px solid #afabab;
  padding: 15px 15px;
  background: #f5f5f5;
  border-radius: 5px;
}

.search-mobile-button {
  display: none;
}

.search-form {
  display: flex;
  flex-direction: column;
}

p.search-instruction {
  margin: 15px 0px;
}

.search-heading,
.search-instruction {
  text-align: center;
}

.form-control {
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  font-family: "Lato";
  font-size: 16px;
}

input[type="text"],
select {
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.76);
  color: #757575;
}

input[type="text"]:focus,
select:focus,
input[type="submit"]:hover {
  box-shadow: 2px 2px 6px -1px var(--primary-color);
}

input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: var(--primary-color);
  box-shadow: 2px 2px 6px -1px #333;
}

/* ----------- */

@media screen and (max-width: 960px) {
  .container {
    width: 90%;
  }

  li {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 15px;
  }

  .flex-1 {
    justify-content: center;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .login-register {
    margin-left: 20px;
  }

  /* for side navbar */
  .nav-menu {
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100px;
    top: 40px;
    right: -100%;
    text-align: center;
    padding: 5px 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  }

  .nav-menu.active {
    background-color: var(--primary-color);
    top: 40px;
    right: 0;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    margin: 5px 0px;
  }

  .nav-menu li:hover {
    text-decoration: underline;
  }

  /* ---- */

  .toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20px, 40%);
  }

  /* Search */
  .search {
    margin: auto;
    position: absolute;
    top: 50px;
    left: -100%;
    width: 90%;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .modile-search {
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
  }
  .search-mobile-button {
    outline: none;
    z-index: 100;
    display: block;
    cursor: pointer;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--primary-color);
    border: none;
    padding: 8px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.55);
  }
  .search-mobile-button:hover {
    box-shadow: 3px 3px 6px 0px var(--primary-color);
  }
  .search-mobile-button p {
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: mixed;
    font-size: 15px;
  }
  /* -------------- */
}
